{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css"/>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <title>Social Auth with Django</title>
</head>
<body>
<div class="container-fluid">
    <center>
                <div class="login-container">
                  <p style="font-family:georgia,garamond,serif;font-size:30;">Sign In</p>
            ​
                  <hr>
                  <br>
            ​
                  <p style="font-family:georgia,garamond,serif;font-size:18;">Log in with</p>
                  <br>
                  <a href="{% url 'social:begin' 'facebook' %}">
                  <img src="https://image.flaticon.com/icons/png/512/124/124010.png" alt="Login with Facebook" style="width:64px;height:64px"/>
                  </a>
                  <br>
                  <br>
                  <p style="font-family:georgia,garamond,serif;font-size:14;font-style:italic">or</p>
                  <br>
                  <p style="font-family:georgia,garamond,serif;font-size:22;">Username</p>
                  <input style="width:300px" class="input is-medium"></input>
            ​
                  <br>
            ​
                  <p style="font-family:georgia,garamond,serif;font-size:22;">Password</p>
                  <input type="password" style="width:300px" class="input is-medium"></input>
            ​
                  <br>
                  <br>
            ​
                  <a class="button is-link is-medium is-outlined">Log In</a>
                  <a class="button is-info is-medium is-outlined">Register</a>
                </div>
            </center>
              </div>
</div>
</body>
</html>  
</body>
</html>